.forum-row-name {
  font-style: oblique !important;
}

.forum-row-threads {
  font-size: 20px;
}

.forum-row-description {
  font-size: 15px;
}
.forum-row-details {
  font-size: 15px;
}

.forum-row-subscribe {
  font-size: 40px;
}

.forum-row-container:hover {
  background-color: rgb(216, 216, 216) !important;
}
.new-thread-button {
  font-weight: bold !important;
}
